<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="2.3.1" />
  <package id="SharpDX.D3DCompiler" version="2.3.1" />
  <package id="SharpDX.Direct3D10" version="2.3.1" />
  <package id="SharpDX.Direct3D11" version="2.3.1" />
  <package id="SharpDX.Direct3D9" version="2.3.1" />
  <package id="SharpDX.DXGI" version="2.3.1" />
</packages>