<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.HLSL.CSharpVB" version="1.0.1" targetFramework="net452" />
  <package id="PropertyTools.Wpf" version="2.0.1" targetFramework="net452" />
  <package id="SharpDX" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.Direct3D11.Effects" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="4.0.1" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="4.0.1" targetFramework="net45" />
</packages>