<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.2" targetFramework="net45" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="net45" developmentDependency="true" />
  <package id="PropertyTools.Wpf" version="2014.1.29.1" targetFramework="net4" />
  <package id="SharpDX" version="2.6.3" targetFramework="net45" />
</packages>